.example-spacer {
    flex: 1 1 auto;
  }
 
  .mat-toolbar{
    background-color: rgb(255, 0, 0);
    font-size: 50px;
}
@media (min-width: 300px) and (max-width: 700px) {
  mat-toolbar {
    background-color: rgb(255, 0, 0);
    ;
  }

  #menuinicio {

    display: none;

  }

  #menuproducto {

    display: none;
  }

}

@media (max-width: 700px) {
  mat-toolbar {
    background-color: rgb(255, 0, 0);
    ;
  }

  #menusecciones {

    display: none;
  }



}