.example-spacer {
  flex: 25 auto;
}


/*hace referencia a todo el navbar */
mat-toolbar {
  /*color de fondo de la barra */
  background-color: rgb(23, 28, 34);
  /* tamaño de la barra*/
  height: 75px;
  /*color iconos*/
  color: rgb(0, 0, 0);

}

.buscador {
  display: flex;
  text-align: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  border: 1px solid black;
  height: 50px;
  border-radius: 5px;
}

.buscador input {
  border: 0;
  width: 250px;
  font-size: small;
  outline: none;

}


/*Responsivo para celulares*/
@media (max-width: 480px) {

  mat-toolbar {
    background-color: rgb(23, 28, 34);
    color: rgb(0, 0, 0);
    height: 60px;
  }

  img {
    width: 100%;
    height: auto;
  }

}