<mat-toolbar id="navbar">
   
    <span></span>
    <!--botonm para la vista inicio-->
    <button id="menuinicio" mat-button routerLink="/inicio"> <b>はTOKYOた</b> </button>


    <span class="example-spacer"></span>

    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="¿Qué estas buscando?" aria-label="Search">
       
      </form>
    


    <button mat-button [matMenuTriggerFor]="usuario"><i class="bi bi-person"></i> </button>
        <mat-menu #usuario="matMenu">
            <button mat-menu-item routerLink="/registro"> Registrarse </button>
            <button mat-menu-item routerLink="/iniciosesion">Iniciar Sesion</button>
            <button mat-menu-item > </button>
        </mat-menu>
        

        <!--carrito-->
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>shopping_cart</mat-icon>
        </button>

            <!--menu desplegable-->
    <button id="menuproducto"  mat-button [matMenuTriggerFor]="producto"><mat-icon>shopping_bag</mat-icon></button>
    <mat-menu #producto="matMenu">
        <button mat-menu-item routerLink="/producto"> General</button>

    </mat-menu>
 
        <button id="menusecciones" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>

</mat-toolbar>