<form class="form">
  <p id="heading">Registrarse</p>

  <!-- Input del nombre de usuario -->
  <div class="field">
    <i class="material-icons" style="font-size: 18px;">person</i>
    <input [(ngModel)]="usuario.nombre" name="nombre" autocomplete="off" placeholder="Ingrese su nombre" class="input-field" type="text">
  </div>

  <!-- Input del apellido del usuario -->
  <div class="field">
    <input [(ngModel)]="usuario.apellido" name="apellido" autocomplete="off" placeholder="Ingrese su apellido" class="input-field" type="text">
  </div>

  <!-- Input del gmail -->
  <div class="field">
    <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
      <path d="..."></path>
    </svg>
    <input [(ngModel)]="usuario.email" name="email" autocomplete="off" placeholder="Ingrese su gmail" class="input-field" type="text">
  </div>

  <!-- Contraseña -->
  <div class="field">
    <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
      <path d="..."></path>
    </svg>
    <input [(ngModel)]="usuario.password" name="password" placeholder="Ingrese su contraseña" class="input-field" type="password">
  </div>

  <!-- Botón para registrarse -->
  <div class="btn">
    <button class="button1" (click)="registrar()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Registrarme&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
    <button class="button2" routerLink="/iniciosesion">Iniciar Sesión</button>
  </div>
</form>
