<div class="Carrito-resumen">
    <h1><strong>Carrito de compras</strong></h1>

    <mat-table [dataSource]="crudservice.carritoscoleccion" class="mat-elevation-z8">


        <!-- Columna de Imagen -->
        <ng-container matColumnDef="imagen">
            <mat-header-cell *matHeaderCellDef> Imagen </mat-header-cell>
            <mat-cell *matCellDef="let item">
                <img [src]="item.imagen" alt="{{item.nombre}}" width="50" height="50" style="object-fit: cover;">
            </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
            <mat-cell *matCellDef="let item"> {{item.nombre}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="cantidad">
            <mat-header-cell *matHeaderCellDef>cantidad</mat-header-cell>
            <mat-cell *matCellDef="let item">
                <input type="number" [(ngModel)]="item.cantidad" min="1" (ngModelChange)="actualizarSubtotal(item)">
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="preciounitario">
            <mat-header-cell *matHeaderCellDef>preciounitario</mat-header-cell>
            <mat-cell *matCellDef="let item"> Ud ${{ (item.precio).toFixed(2)}}</mat-cell>
        </ng-container>

   

        <ng-container matColumnDef="eliminar">
            <mat-header-cell *matHeaderCellDef=>eliminar</mat-header-cell>
            <mat-cell *matCellDef="let item">

                <button mat-icon-button (click)="eliminarItem(item)" style="background: none; border: none; padding: 0;">
                <mat-icon>delete</mat-icon>
                </button>
                
            </mat-cell>
        </ng-container>

        <mat-header-row mat-header-row * matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-header-row mat-row *matRowDef="let row;columns:displayedColumns"></mat-header-row>




    </mat-table>

        <h1 id="total"> <strong>Total: ${{crudservice.total}}</strong></h1>

    <button id="ed1" type="button" class="btn" (click)="realizarCompra()">  <b>Continuar compra</b></button>
</div>