<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <section class="seccion-nosotros">
    <div class="texto-info">
      <h2>Sobre Nosotros</h2>
      <p>Bienvenidos a Sports Tech, tu tienda deportiva online de confianza. Nos especializamos en ofrecer una amplia
        gama de productos deportivos de última generación, para ayudar a los apasionados del deporte a alcanzar su
        máximo potencial. Nos comprometemos a brindar a nuestros clientes acceso a productos de alta calidad y a las
        últimas tendencias en tecnología deportiva.</p>
    </div>
    <div class="img-nosotros">
      <img src="../../../assets/img/Nosotros/sobre-nosotros1.png" alt="">
    </div>
    <div class="texto-info">
      <h3>Nuestra Misión</h3>
      <p>Nuestra misión es inspirar y empoderar a todos los amantes del deporte, ya sea que estén comenzando, entrenando
        profesionalmente o simplemente quieran mantenerse activos. En Sports Tech, creemos en el impacto positivo que el
        deporte puede tener en la vida de las personas, y nos esforzamos cada día para seleccionar los mejores productos
        y asegurar una experiencia de compra confiable, segura y fácil de usar.</p>
    </div>
    <div class="img-nosotros">
      <img src="../../../assets/img/Nosotros/sobre-nosotros2.png" alt="Equipo deportivo">
    </div>
    <div class="texto-info">
      <h3>¿Por qué elegirnos?</h3>
      <p> Nos esforzamos por mantenernos a la vanguardia en tecnología deportiva para ofrecerte siempre los productos
        más innovadores del mercado. Trabajamos solo con las mejores marcas, asegurando la durabilidad y el rendimiento
        de cada uno de nuestros artículos.

        Contamos con un equipo de profesionales apasionados por el deporte, listos para ayudarte a encontrar el producto
        ideal para ti. Disfruta de una experiencia de compra sencilla y segura, con métodos de pago confiables y un
        servicio de envío ágil y seguro.</p>
    </div>
    <div class="img-nosotros">
      <img src="../../../assets/img/Nosotros/sobre-nosotros3.png" alt="Tecnología aplicada al deporte">
    </div>
  </section>
</body>

</html>