/* Reseteo de márgenes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos de la sección "Sobre Nosotros" */
.seccion-nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    grid-template-rows: repeat(3, auto); /* Tres filas de tamaño automático */
    gap: 20px; /* Espacio entre filas y columnas */
    padding: 20px;
}

/* Estilo para el texto */
.texto-info {
    padding: 10px;
}

/* Estilo para las imágenes */
.img-nosotros img {
    width: 60%;
    height: auto;
    border-radius: 10px; /* Bordes redondeados */
    
}

img{
    margin-right: 30px;
}



/* Responsive para pantallas pequeñas */
@media (max-width: 480px) {
    .seccion-nosotros {
        grid-template-columns: 1fr; 
        gap: 10px; 
        padding: 10px; 
    }

    .img-nosotros img {
        width: 80%;
        margin: 0 auto;
    }

    .texto-info {
        padding: 5px;
    }

    img {
        margin-right: 0; 
    }
}
