<!--esta vista contendra el carrousel de la pagina web -->
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../../../assets/img/Carrousel/1.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../../../assets/img/Carrousel/sports tech (5).png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../../../assets/img/Carrousel/sports tech.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<!--productos-->
<div class="card-container">
  <div class=" col-lg-3 card1" *ngFor="let articulo of colecciongeneral">
    <div class="card" style="width: 18rem;">
      <img src="{{articulo.imagen}}" class="card-img-top">
      <div class="card-body">
        <h4 class="card-title"><b>{{articulo.nombre}}</b></h4>
        <hr>
        <b>
          <h4>{{articulo.alt}}</h4>
        </b>

        <p class="card-text"> <b>${{articulo.precio}}</b> </p>
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#vermas"
          (click)="mostrarver(articulo)">ver más </button>
      </div>
    </div>
  </div>

<!-- Modal para ver más información -->
<div class="modal fade"  id="vermas" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">
      <!-- Encabezado con botón para cerrar el modal -->
      <div class="modal-header"  *ngIf="modalvisible">
        <button type="button" (click)="cerrarver()" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body"  *ngIf="modalvisible">
        <div class="container-fluid">
          <div class="row g-4">
            
            <!-- Columna izquierda con la imagen del producto -->
            <div class="col-md-6">
              <img class="img-fluid" src="{{articuloseleccionado.imagen}}" alt="{{articuloseleccionado.alt}}">
            </div>
            
            <!-- Columna derecha con la información del producto -->
            <div class="col-md-6">
              <h1 class="modal-title" id="exampleModalLabel">
                <strong>{{articuloseleccionado.nombre}}</strong>
              </h1>
              <h2><strong>${{articuloseleccionado.precio}} ARS</strong></h2>
              
              <!-- Descripción del producto -->
              <p>{{articuloseleccionado.descripcion}}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Pie del modal con botones de acción -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Comprar Ahora</button>
        <button type="button" class="btn btn-dark" data-dismiss="modal"
          (click)="serviciocrud.AgregarAlCarrito(articuloseleccionado)">Agregar al Carrito</button>
      </div>
    </div>
  </div>
</div>






  <app-card></app-card>