
#card{
margin: 100px;  
}


.card-img-top{
    width: 200px;
}
.card-title {
  color: #88c425;
}
.btn {
  color: #ffffff;
  background-color: #88c425;
  cursor: pointer;
  
}
.card-img-top {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Espacio entre las tarjetas */
    margin: 60px; /* Espacio negativo para compensar el espacio entre las tarjetas */

  }

  .card1 {
    justify-content:space-around;
    display: flex;
    margin: 10px;
  }













  /* CSS DEL MODAL */

.text {
  padding: 20px;
  text-align: justify;
}

.title {
  color: #88c425;
}

.img {
  display: block;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  border-radius: 2%;
}

.close {
  position: absolute;
  color: #ffffff;
  background-color: #88c425;
  cursor: pointer;
} 
