<!--productos-->
<div class="card-container">
  <div class=" card1" *ngFor="let articulo of materialescolecction">
    <div class="card" style="width: 18rem;">
      <img src="{{articulo.imagen}}" class="card-img-top">
      <div class="card-body">
        <h4 class="card-title"><b>{{articulo.nombre}}</b></h4>
        <hr>
        <b>
          <h4>{{articulo.alt}}</h4>
        </b>

        <p class="card-text"> <b>${{articulo.precio}}</b> </p>
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#vermas"
          (click)="mostrarver(articulo)">ver más </button>
      </div>
    </div>
  </div>

  <!-- Modal para ver mas infomracion-->
  <div class="modal fade" *ngIf="modalvisible" id="vermas" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">

      <div class="modal-content">

        <!-- BOTON FUNCIONAL PARA CERRAR EL MODAL -->
        <div class="modal-header">
          <button type="button" (click)="cerrarver()" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <!-- IMAGEN DEL PRODUCTO -->
        <div class="modal-body">
          <img class="img" src="{{articuloseleccionado.imagen}}" alt="{{articuloseleccionado.alt}}">
        </div>

        <!-- DESCRIPCION Y PRECIO DEL PRODUCTO -->
        <div class="mb-3 text">
          <h1 class="modal-title" id="exampleModalLabel"> <strong class="title">{{articuloseleccionado.nombre}}</strong>
          </h1>
          <strong>
            <h2>
              ${{articuloseleccionado.precio}} ARS

            </h2>
          </strong>
          <br>
          <br>
          <h3>Descripcion:</h3>
          {{articuloseleccionado.descripcion}}

        </div>

        <div class="modal-footer">
          <!-- ACA VA EL BOTON DEL CARRITO-->
          <button type="button" class="btn" style="background-color: greenyellow;" data-dismiss="modal">Comprar
            Ahora</button>

          <button type="button" class="btn" data-dismiss="modal" style="background-color: rgb(0, 0, 0); color: white;"
            (click)="serviciocrud.AgregarAlCarrito(articuloseleccionado)"> Agregar al Carrito
          </button>

        </div>
      </div>
    </div>
  </div>